#authentication-menu {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.validation-btn-group .btn {
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
}

.navbar {
	margin-top: 40px;
}

#menu-table td, #menu-table th {
	vertical-align: middle;
}

#menu-table {
	margin-top: 50px;
}

.plat-image {
	width : 125px;
}