#authentication-menu {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.validation-btn-group .btn {
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
}

.navbar {
	margin-top: 40px;
}

.table > tbody > tr > td, .table > tbody > tr > th {
	vertical-align: middle;
}

#menu-table {
	margin-top: 50px;
}

.plat-image {
	min-width: 200px; 
	width: 200px;
	margin-bottom: 0;
}